on:
  push:
    branches: ["josh/publish-docs"]

name: Publish Docs

jobs:
  build:
    name: Build Rustdocs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - name: install protoc
        run: sudo apt-get -o Acquire::Retries=3 install -y protobuf-compiler
      - uses: actions-rs/cargo@v1
        with:
          command: doc
      - name: Archive docs
        shell: sh
        run: |
          echo "<meta http-equiv=\"refresh\" content=\"0; url=ngrok\">" > target/doc/index.html
          chmod -c -R +r target/doc | while read line; do
            echo "::warning title=Changed permissions on a file::$line"
          done
          tar \
            --dereference --hard-dereference \
            --directory target/doc \
            -cvf "$RUNNER_TEMP/artifact.tar" \
            --exclude=.git \
            --exclude=.github \
            .
      - name: Upload artifact
        uses: actions/upload-artifact@v1
        with:
          name: github-pages
          path: ${{ runner.temp }}/artifact.tar
          retention-days: ${{ inputs.retention-days }}

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1